ul{
  list-style: none;
}
.wrapper{
  margin-top: 30px;
  background-color: #2994E6;
  border-radius: 10px 10px 0 0;
  font-family: 'Roboto', sans-serif;
}
.from{
  margin: 10px 0 10px 10px
}
.from input{
  padding: 5px 10px;
  width: 97%;
}
.fromTo{
  margin: 10px 0 10px 0;
  padding-left: 12px;
}
.fromTo input{
  padding: 5px 10px;
  width: 97%;
}
.list{
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-left: 10px;
  border: 1px solid gainsboro;
  border-radius: 12px;
  display: none;
}
.list-country{
  column-count: 3;
}
.list-country ul li{
  padding: 5px;
  border-radius: 10px;
}
.list-country ul li:hover{
  background-color: #E8F4FD;
  cursor: pointer;
}
.list-airports{
  overflow: auto;
  max-height: 330px;
  min-height: 330px;
}
.list-airports ul{
  padding-left: 10px;
}
.list-airports ul li{
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.list-airports ul li:hover{
  background-color: #E8F4FD;
}

.country{
  background-color: #F8FAFC;
  border-radius: 10px 0 0 10px;
}
.airports{
  background-color: white;
  border-radius: 0 10px 10px 0;
}
.list-airports::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.list-airports::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.list-airports::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #9DD1F8;
}
@media(max-width: 771px) {
  .from {
    margin-left: 0!important;
  }
  .country ul {
    padding-left: 0;
  }
}
@media(max-width: 991px){
  .list-airports{
    max-height: 320px;
    min-height: 320px;
  }
}
