.wrapper-date{
  background-color: #2994E6;
  padding: 10px;
  border-radius: 0 0 10px 10px ;
  font-family: 'Roboto', sans-serif;
}
.wrapper-date date-picker{
  margin: 13px;
}
.wrapper-date button{
  padding: 8px 30px;
  border-radius: 10px;
  vertical-align: text-bottom;
  border: none;
  background-color: #F1C933;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;

}
.wrapper-date button:hover{
  background-color: #C79E04;
}
.result{
  border: 1px solid black;
  padding: 0;
  margin-top: 20px;
  margin-left: 10px;
}
.searchResult span{
  display: block;
}
.searchResult span i{
  padding-right: 10px;
}
.searchResult span:nth-child(1){
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid black;
}
.searchResult span:nth-child(2){
  color: blue;
  padding-left: 10px;
}
.searchResult span:nth-child(3){
  color: green;
  padding-left: 10px;
}
.searchResult span:nth-child(4){
  color: red;
  padding-left: 10px;
}
@media(max-width: 771px){
  .searchResult span:nth-child(2){
    text-align: center;
  }
  .searchResult span:nth-child(3){
    text-align: center;
  }
  .searchResult span:nth-child(4){
    text-align: center;
  }
  .wrapper-date{
    text-align: center;
  }
}



